.class-1{color:#000;}
.class-2{color:#00f;}
.class-3{color:#0ff;}
.class-4{color:#fff;}
.class-5{color:#0f0;}
.class-6{color:#f00;}
.class-7{color:#62e;}
.class-8{color:#795;}
.class-9{color:#273;}
.class-10{color:#4aa;}
.class-11{color:#169;}